# macOS
.DS_Store

# Python
__pycache__/
*.py[cod]
*.pyd
*.so
*.egg-info/
build/
dist/

# Virtual environments
.venv/
venv/
env/

# Jupyter
.ipynb_checkpoints/

# IDEs
.vscode/
.idea/

# Logs
*.log

# Data files (ignored)
*.csv
*.tsv
# block large pdf (github >100MB limit)
100_Days_DL_youtube_course/notes.pdf
