# macOS
.DS_Store

# Python
__pycache__/
*.pyd
*.so
*.egg-info/
build/
dist/

# Virtual environments
.venv/
venv/
env/



# IDEs
.vscode/
.idea/

# Logs
*.log

# Data files (ignored)
*.csv
*.tsv
# block large pdf (github >100MB limit)
notes.pdf
